[main]
domain = yourdomain.com
name = John Doe
url_base = netflixdvds.%(domain)s
logfile = logfile.txt
rss_base = AtHomeRSS
[smtp]
from_addr = dvds_at_home_script@yourdomain.com
to = johnd@yourdomain.com
user = smtp_username
password = mooltipass
port = 25
[imap]
mailbox = mail.yourdomain.com
user = netflix@yourdomain.com
password = mooltipass
